x-kubernetes:
  name: gsfm
  namespace: gsfm

services:
  gsfm-app:
    build: .
    image: maayanlab/gsfm:0.10.3
    platform: linux/amd64
    x-kubernetes:
      imagePullPolicy: IfNotPresent
      annotations:
        maayanlab.cloud/ingress: https://gsfm.maayanlab.cloud
    environment:
    - DATABASE_URL=${PROD_DATABASE_URL:-postgres://postgres:${POSTGRES_PASSWORD}@gsfm-postgres:5432/postgres}
    - NEXT_PUBLIC_URL=https://gsfm.maayanlab.cloud
    - NEXT_PUBLIC_GA_MEASUREMENT_ID
    ports:
    - 3000
    volumes:
    - gsfm-app-model:/app/data/model
  gsfm-postgres:
    image: postgres
    environment:
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
    - 5432:5432
    volumes:
    - gsfm-postgres:/var/lib/postgresql/data

  gsfm-postgres-2:
    image: postgres:17
    environment:
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
    - 5432:5432
    volumes:
    - gsfm-postgres-2:/var/lib/postgresql/data

volumes:
  gsfm-app-model:
    x-kubernetes:
      size: 1Gi
      class: gp2

  gsfm-postgres:
    x-kubernetes:
      size: 100Gi
      class: gp2

  gsfm-postgres-2:
    x-kubernetes:
      size: 400Gi
      class: gp2
