@import 'tailwindcss';
@import url("https://fonts.googleapis.com/css2?family=Schibsted%20Grotesk&display=swap");

@theme {
  --font-sans: "Schibsted Grotesk", sans-serif;
}

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: false;
};

@plugin "daisyui/theme" {
  name: "gsfm";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: "#013CC6";
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: "#EEF5FF";
  --color-secondary-content: "#013CC6";
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

body {
  background: linear-gradient(180deg, #FFFFFF 0%, #E7F3F5 100%);
}

@utility btn {
  @apply font-semibold border-0 rounded-full;
}

@utility btn-primary {
  @apply bg-[#006DFF] text-white font-normal;
}

@utility tabs {
  @apply gap-x-2;
}

@utility tab {
  @apply border-[#013CC6] whitespace-nowrap rounded-t-2xl border border-dashed border-b-0 bg-[#F9FAFE] text-primary;
}

@utility tab-active {
  @apply bg-white border-solid;
}

@utility tab-content {
  @apply border-[#013CC6] border rounded-2xl rounded-tl-none px-6 py-2 prose max-w-none;
}
